<!DOCTYPE html>
<html ng-app="TimingApp">

<head>
    <!-- Angular Material CSS -->
    <link rel="stylesheet" href="assets/css/angular-material.min.css">
</head>

<body>
    <md-tabs md-dynamic-height md-border-bottom md-center-tabs>
        <md-tab label="Stopwatch">
            <md-content ng-controller="StopwatchController">
                <div layout="row" layout-wrap>
                    <div flex="60" offset="20">
                        <div layout="column">
                            <div layout="row">
                                <md-button ng-disabled="started && !paused" ng-click="start()" class="md-icon-button">
                                    <md-icon md-svg-src="assets/img/icon-play.svg" style="width: 24px; height: 24px;"></md-icon>
                                </md-button>
                                <md-button ng-disabled="!started || paused" ng-click="pause()" class="md-icon-button">
                                    <md-icon md-svg-src="assets/img/icon-pause.svg" style="width: 24px; height: 24px;"></md-icon>
                                </md-button>
                                <md-button ng-disabled="!started" ng-click="restart()" class="md-icon-button">
                                    <md-icon md-svg-src="assets/img/icon-restart.svg" style="width: 24px; height: 24px;"></md-icon>
                                </md-button>
                            </div>
                            <input type="number" value="{{hours}}" readonly><br/>
                            <input type="number" value="{{minutes}}" readonly><br/>
                            <input type="number" value="{{seconds}}" readonly><br/>
                            <input type="number" value="{{milliseconds}}" readonly><br/>
                        </div>
                    </div>
                </div>
            </md-content>
        </md-tab>

        <md-tab label="Timer">
        </md-tab>

        <md-tab label="Alarm">
        </md-tab>
    </md-tabs>

    <!-- Angular Material dependencies -->
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-animate.min.js"></script>
    <script src="assets/js/angular-aria.min.js"></script>
    <!-- Angular Material -->
    <script src="assets/js/angular-material.min.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>